<li><%= link_to "Home", help_path %></li>
<li><%= link_to "About", help_path %></li>
<li><%= link_to "Demo", help_path %></li>
<li><%= link_to "Help", help_path %></li>
<li><%= link_to "Sign in", signin_path %></li>